body {
    font-family: Poppins, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #222;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #ff1a1a;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background: #ff1a1a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #cc0000;
}


.summary {
    background: #fcfcfc;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
    text-align: left;
}

.small {
    font-size: 14px;
    color: #666;
}

.message {
    margin-top: 12px;
    font-weight: bold;
    color: #d32f2f;
}

/*Responsive */
@media (max-width: 500px) {
    .container {
        padding: 20px;
        margin: 20px auto;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}